ul.nfc-category-list, ul.nfc-tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.nfc-category-list li, ul.nfc-tag-list li {
    display: block;
    padding: 10px 0;
    font-size: 17px;
}

.nfc-category-list, .nfc-tag-list {
    height: 500px;
    overflow-y: scroll;
}

.nfc-all-category-list, .nfc-all-tags-list {
    margin-top: 25px;
}

.nfc-category-list a, .nfc-tag-list a {
    color: #000;
    background: #dfe20f;
    display: inline-block;
    padding: 5px;
    text-transform: capitalize;
    opacity: 0;
    visibility: hidden;
}

.nfc-category-list li:hover a, .nfc-tag-list li:hover a {
    visibility: visible;
    opacity: 1;
    background: #dfe20f;
}
/********** customized By Hashan Alwis ***************************/
.pmagic .pm-group-view .pm-section {
    margin: 20px 0;
    min-height: auto !important;
}
.pmagic .pm-group-view #pg-profile-tabs .pg-profile-tab-content {
    min-height: auto !important;
}
.pmagic .pm-group-view .pm-section .pm-section-content {
 
    min-height: auto !important;
     min-height: auto !important;  
}
.pmagic { 
      margin-bottom: 0px !important;
}
.simply-tag-root input{
    --global--line-height-body: 0 !important;
    padding: 1px !important;
    --global--color-light-gray: #f0f0f0 !important;
    --global--color-black: #f0f0f0 !important;
    border: var(--form--border-width) solid #ffffff !important;
    outline:none !important;
}
.simply-tag-root{
    margin-top: 0px !important; 
    margin-bottom: 0px !important; 
}
.amr_widget h2{
    margin-bottom: 0px;
    font-size: 14px !important;
}
/***************************************************************************/